# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit cache
.streamlit/secrets.toml

# Data (uncomment if you don't want to publish the raw dataset)
# student_performance.csv
